input {
  padding: 15px;
  border: none;
  &[type="button"] {
    background-color: aqua;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  &[type="search"] {
    width: 300px;
    background-color: rgb(221, 237, 237);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

sub {
  color: #50e4ea;
}

#ingredients {
  ul {
    color: #e28122;
  }
}
